<?xml version="1.0"?>

<configuration>
	<configSections>
		<section type="Facebook.FacebookConfigurationSection, Facebook" name="facebookSettings" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	<connectionStrings>
		<add name="ConnectionInfo" connectionString="Data Source=esql2k803.discountasp.net;Initial Catalog=SQL2008R2_798285_tarazannet;User ID=socialer;Password=123456;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<facebookSettings appId="195883407093053" appSecret="0f37c239c072f2aa38280b613abcaf28" />
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

</configuration>