<?xml version="1.0"?>

<configuration>
	<configSections>
		<section type="Facebook.FacebookConfigurationSection, Facebook" name="facebookSettings" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	<connectionStrings>
		<add name="ConnectionInfo" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=socialer;Integrated Security=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<facebookSettings appId="115732561835433" appSecret="ca73b5ab3c98ef84e15b2adc5b9d869c" canvasPage="http://apps.facebook.com/socialermapfbappl/" canvasUrl="http://localhost:5001/" cancelUrlPath="" />
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
    <httpRuntime executionTimeout="300" maxRequestLength="4096"
useFullyQualifiedRedirectUrl="false" minFreeThreads="8"
minLocalRequestFreeThreads="4" appRequestQueueLimit="100"
enableVersionHeader="true"/>
		<httpHandlers>
			<add verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
		</httpHandlers>

	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<add name="facebookredirect" path="facebookredirect.axd" verb="*" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
		</handlers>
	</system.webServer>
</configuration>