<?xml version="1.0"?>

<configuration>
  <configSections>
    <section type="Facebook.FacebookConfigurationSection, Facebook" name="facebookSettings" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <connectionStrings>
    <add name="ConnectionInfo" connectionString="Data Source=esql2k803.discountasp.net;Initial Catalog=SQL2008R2_798285_tarazannet;User ID=socialer;Password=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <facebookSettings appId="186883808016686" appSecret="0885f729596890353f854c75135f82e8" canvasPage="http://apps.facebook.com/socialermapfbapp/" canvasUrl="http://socialermap.com/socialermapfbapp/" cancelUrlPath="" />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <httpHandlers>
      <add verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
    </httpHandlers>

  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="facebookredirect" path="facebookredirect.axd" verb="*" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
    </handlers>
  </system.webServer>
</configuration>